<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469723298670-p6mp3p2i5aftf65ucib064utbda97to0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469723298670-p6mp3p2i5aftf65ucib064utbda97to0</string>
	<key>API_KEY</key>
	<string>AIzaSyB9EmNXtVFsAPmoROO_rliG08zwquXtmsA</string>
	<key>GCM_SENDER_ID</key>
	<string>469723298670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.YourName.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>fire-chat-b0eb5</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-chat-b0eb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469723298670:ios:8d202abc44eb9454</string>
	<key>DATABASE_URL</key>
	<string>https://fire-chat-b0eb5.firebaseio.com</string>
</dict>
</plist>